:root {
  --grey-one: rgb(214, 214, 214);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.grey-one{
  background-color: var(--grey-one);
}

